.author {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user {
    padding-left: 20px;
}

.userName {
    font-weight: 800;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.about {
    font-size: 14px;
    line-height: 20px;
    color: #7b8e98;
    font-family: 'Fredoka One', cursive;
}