.stars {
    display: "flex";
  }
  
  .star {
    margin-right: 10;
    cursor: "pointer";
    width: 30px;
    height: 30px;
    stroke: #d3d3d3;
    fill: lightgray;
  }
  
  .filled {
    margin-right: 10;
    cursor: "pointer";
    width: 30px;
    height: 30px;
    stroke: #FFAA0D;
    fill: #FFAA0D;
    fill-opacity: 1;
  }