.App {
  width: 100%;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .App {
    max-width: 99%;
  }
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: 100vh;
  }
}

@media (max-width: 400px) {
  .App {
    max-width: 99%;
  }
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: 100vh;
  }
}
